body {
    font-family: Arial, sans-serif;
    background-color: #F9F9F9;
}

h1 {
    text-align: center;
    color: #333333;
}

form {
    width: 50%;
    margin: 0 auto;
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    padding: 20px;
    border-radius: 10px;
}

label {
    display: inline-block;
    width: 100px;
    font-weight: bold;
    margin-bottom: 10px;
}

input[type=file] {
    display: block;
    margin-bottom: 10px;
}

input[type=button] {
    background-color: #4CAF50;
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

input[type=button]:hover {
    background-color: #3E8E41;
}

div {
    width: 50%;
    margin: 20px auto;
    display: flex;
    justify-content: space-around;
}

img {
    max-width: 45%;
    height: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}
